

<link rel="stylesheet" href="/css/style.css">

<nav class="navbar navbar-expand-lg bg-white border-bottom sticky-top py-3">
  <div class="container-fluid align-items-center">

    <!-- Left: Logo and Explore (always visible) -->
    <div class="d-flex order-0">
      <i class="fa-regular fa-compass me-2 navbar-brand d-flex align-items-center" style="color: #fe424d; font-size: 1.5rem;"></i>
      <span class="fw-semibold wanderlust navbar-brand d-flex align-items-center me-4" style="color: #fe424d" >WanderLust</span>
      <a class="navbar-brand d-flex align-items-center me-4" href="/listings">
        <span class="fw-semibold d-none d-sm-inline">Explore</span>
      </a>
    </div>

    <!-- Center: Search (will be pushed to middle on large screens) -->
    <div class="search-wrapper order-lg-1 mx-auto ">
      <form class="d-flex" method="get" action="/listings">
        <input class="form-control me-2 search-inp" type="search" name="q" placeholder="Search destinations" />
        <button class="btn search-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i> <p>Search</p> 
        </button>
      </form>
    </div>

    <!-- Toggler -->
    <button class="navbar-toggler order-2 ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarRight">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible section (will appear on the right) -->
    <div class="collapse navbar-collapse order-3 flex-grow-0" id="navbarRight">
      <ul class="navbar-nav text-lg-start mt-2 mt-lg-0">

        <!-- Explore text (visible only on xs screens) -->
        <li class="nav-item d-sm-none mb-2">
          <a class="nav-link fw-semibold" href="/listings">Explore</a>
        </li>

        <li class="nav-item">
          <a class="nav-link me-1" href="/listings/new">List Your Property</a>
        </li>

        <% if (!currUser) { %>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="/signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="/login">Log in</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="/logout">Log out</a>
          </li>
        <% } %>

      </ul>
    </div>

  </div>
</nav>